<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.ogg.mypage.model.mapper.MypageMapper">

<resultMap type="Question" id="questionListResultMap">
	<result column="ROWNUM" property="q_rno"/>
	<result column="M_NAME" property="q_m_name"/>
</resultMap>

<resultMap type="Answer" id="answerResultMap">
	<result column="M_NAME" property="a_m_name"/>
</resultMap>

<resultMap type="Community" id="CommunityResultMap">
	<id property="c_no" column="C_NO"/>
	<result property="c_writerNo" column="C_WRITERNO" />
	<result property="c_title" column="C_TITLE" />
	<result property="c_content" column="C_CONTENT" />
	<result property="c_file" column="C_FILE" />
	<result property="c_fileRename" column="C_FILERENAME" />
	<result property="c_writeDate" column="C_WRITEDATE" />
	<result property="c_modifyDate" column="C_MODIFYDATE" />
	<result property="c_viewCount" column="C_VIEWCOUNT" />
	<result property="c_status" column="C_STATUS" />
	<result property="c_like" column="C_LIKE" />
	<result property="m_nickName" column="M_NICKNAME" />
</resultMap>

<select id="getQuestionCount" resultType="_int" parameterType="_int">
	SELECT COUNT(*)
	FROM QUESTION
    WHERE Q_M_NO = #{no}
</select>

<select id="getQuestionList" resultMap="questionListResultMap">
	SELECT ROWNUM,
	       Q.* 
	FROM (
	SELECT Q_NO,
	       Q_TITLE,
	       M.M_NAME,
	       Q_ENROLLDATE,
	       Q_STATUS
	FROM QUESTION Q
	JOIN MEMBER M ON(Q.Q_M_NO = M.M_NO)
	WHERE Q_M_NO = #{no}
    ORDER BY Q_STATUS
	) Q
</select>

<select id="getQuestionView" resultMap="questionListResultMap" parameterType="_int">
	SELECT ROWNUM,
		   Q.*
	FROM (
	SELECT  Q_NO,
			Q_TITLE,
			Q_CONTENT,
			M.M_NAME,
			Q_ENROLLDATE,
			Q_STATUS
	FROM QUESTION Q
	JOIN MEMBER M ON(Q.Q_M_NO = M.M_NO)
	WHERE Q_NO =#{no}
	) Q 
</select>

<select id="getAnswer" parameterType="_int"
	resultMap="answerResultMap">
	SELECT A_NO,A_TITLE, A_DATE,A_CONTENT,M.M_NAME
	FROM ANSWER A
	JOIN MEMBER M ON(M.M_NO=A.A_M_NO)
	WHERE Q_NO = #{no}
</select>

<insert id="writeQuestion" parameterType="Question"
	useGeneratedKeys="true" keyProperty="q_no" keyColumn="Q_NO">
	INSERT INTO QUESTION(
				Q_NO,
				Q_TITLE,
				Q_CONTENT,
				Q_ENROLLDATE,
				Q_M_NO)
	VALUES(SEQ_QUESTIONS.NEXTVAL,
			#{q_title},
			#{q_content},
			SYSDATE,
			#{q_m_no})
</insert>
	
<update id="updateQuestion" parameterType="Question">
	UPDATE QUESTION
	SET
	Q_TITLE = #{q_title},
	Q_CONTENT = #{q_content},
	Q_ENROLLDATE = SYSDATE
	WHERE Q_NO = #{q_no}
</update>

<select id="getCommnityCount" resultType="_int">
	SELECT COUNT(C_NO) 
	FROM COMMUNITY C 
	JOIN MEMBER M ON (M.M_NO = C.C_WRITERNO) 
	WHERE C_STATUS = 'Y' AND M_NO = ${m_no}
</select>

<select id="getCommunityList" resultMap="CommunityResultMap">
	SELECT C_WRITERNO,
		   C_NO,
		   C_TITLE,
		   C_CONTENT,
		   C_FILE,
		   C_WRITEDATE,
		   C_MODIFYDATE,
		   C_VIEWCOUNT,
		   C_STATUS,
		   C_LIKE,
		   M_NICKNAME
	FROM COMMUNITY C
	JOIN MEMBER M ON (M.M_NO = C.C_WRITERNO)
	WHERE C.C_STATUS = 'Y' AND M.M_NO = ${m_no}
	ORDER BY C.C_NO DESC
</select>


</mapper>


