<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis mapper 설정 파일임을 선언한다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="com.kh.ogg.review.model.mapper.ReviewMapper">
	
	<!-- REVIEW sql-->
	<sql id="reviewSql">
		SELECT RV_NO, 
		       F_CODE, 
		       RV_WRITER_NO, 
		       RV_DATE, 
		       RV_UPDATE, 
		       RV_CONTENT, 
		       RV_STATUS, 
		       RV_LIKES,
		       RV_READCOUNT,
		       M.M_NICKNAME
		FROM REVIEW R
		JOIN MEMBER M ON (M.M_NO = R.RV_WRITER_NO)
	</sql>
	
	<!-- REVIEW_CMT sql-->
	<sql id="reviewCmtSql">
		SELECT RV_CMT_NO, 
			   RV_NO, 
			   RV_CMT_WRITER_NO, 
			   RV_CMT_DATE, 
			   RV_CMT_UPDATE, 
			   RV_CMT_CONTENT, 
			   RV_CMT_STATUS, 
			   RV_CMT_LIKES, 
			   RV_CMT_GROUP, 
			   RV_CMT_DEPTH
		FROM REVIEW_CMT
	</sql>

	<!-- REVIEW resultMap-->
	<resultMap type="Review" id="reviewResultMap">
		<id property="rvNo" column="RV_NO" />
		<result property="fCode" column="F_CODE" />
		<result property="rvWriterNo" column="RV_WRITER_NO" />
		<result property="rvDate" column="RV_DATE" />
		<result property="rvUpdate" column="RV_UPDATE" />
		<result property="rvContent" column="RV_CONTENT" />
		<result property="rvStatus" column="RV_STATUS" />
		<result property="rvLikes" column="RV_LIKES" />
		<result property="rvReadCount" column="RV_READCOUNT" />
		<result property="rvNickname" column="M_NICKNAME" />
	</resultMap>	

	<!-- REVIEW-CMTS resultMap-->
	<resultMap type="ReviewCmt" id="reviewCmtResultMap">
		<id property="cmtNo" column="CMT_NO" />
		<result property="rvNo" column="RV_NO" />
		<result property="cmtWriterNo" column="CMT_WRITER_NO" />
		<result property="cmtDate" column="CMT_DATE" />
		<result property="cmtUpDate" column="CMT_UPDATE" />
		<result property="cmtContent" column="CMT_CONTENT" />
		<result property="cmtStatus" column="CMT_STATUS" />
		<result property="cmtLikes" column="CMT_LIKES" />
		<result property="cmtGroup" column="CMT_GROUP" />
		<result property="cmtDepth" column="CMT_DEPTH" />
		<result property="cmtNickname" column="M_NICKNAME" />
	</resultMap>	
	
	<!-- 리뷰 개수 조회 -->
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW
	</select>

	<!-- 리뷰 전체 조회 -->
	<select id="selectAll" resultMap="reviewResultMap">
		<include refid="reviewSql"></include>
		ORDER BY RV_LIKES DESC
	</select>
	
	<!-- 리뷰 상세 조회 -->
	<select id="selectReviewByNo" parameterType="_int" resultMap="reviewResultMap">
		<include refid="reviewSql"></include>
		WHERE RV_STATUS = 'Y' AND RV_NO = #{no}
	</select>
	
	<!-- 댓글 조회 -->
	<select id="selectReviewCmtByNo" parameterType="_int" resultMap="reviewCmtResultMap">
	SELECT CMT_NO, 
	       RV_NO, 
	       CMT_WRITER_NO, 
	       CMT_DATE, 
	       CMT_UPDATE, 
	       CMT_CONTENT, 
	       CMT_STATUS, 
	       CMT_LIKES, 
	       CMT_GROUP, 
	       CMT_DEPTH, 
	       M.M_NICKNAME
	FROM REVIEW_CMT R
	JOIN MEMBER M ON (M.M_NO = R.CMT_WRITER_NO)
	WHERE CMT_STATUS = 'Y' AND RV_NO = #{no}
	ORDER BY CMT_LIKES DESC
	</select>
</mapper>