/* 
====================================================
OGG 커뮤니티 게시판 CSS
====================================================
*/

.community_section {
    background-color: #f7f7f7;
    width: 100vw;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 80px 0;
}

.community_section .pageTitleBox {
    max-width: 1200px;
    margin: 0 auto 30px auto;
}

.community_section .pageTitleBox .titleText {
    display: inline-block;
    font-size: 1.6rem;
    vertical-align: bottom;
    font-weight: 500;
    margin-bottom: 0;
}

.community_section .pageTitleBox .writeBtn {
    float: right;
    border: 1px solid #7e69fe;
    color: #ffffff;
    background-color: #7e69fe;
}

.community_section .pageTitleBox .writeBtn:hover {
    background-color: #ffffff;
    color: #7e69fe;
}

.community_section .listBox {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.community_section .listBox {}

.community_section .listBox .listTable {
    margin-bottom: 30px;
}

.community_section .listBox .listTable .tHeader {
    background-color: #ffffff;
}

/* 부트스트랩 기본 CSS 설정 삭제 */
.community_section .listBox .listTable .tHeader>tr>th {
    border-style: none !important;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: center; */
}

.community_section .listBox .listTable tbody tr.boardItem {
    cursor: pointer;
}

.community_section .listBox .listTable tbody tr.boardItem:hover {
    background-color: #7d69fe26;
}

.community_section .listBox .listTable tbody tr.boardItem>th,
.community_section .listBox .listTable tbody tr.boardItem>td {
    padding-top: 12px;
    padding-bottom: 12px;
}


/* ========== 페이지 Nav ========== */

.community_section .pageNav {
    text-align: center;
    margin: 0 auto;
}

.community_section .pageNav>button {
    border: 1px solid #7e69fe;
    color: #7e69fe;
}

.community_section .pageNav .arrowBtn {
    background-color: #7e69fe;
    color: #ffffff;
}

.community_section .pageNav .pageNoBtn:hover {
    background-color: #7e69fe;
    color: #ffffff;
}

.community_section .searchBox {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.community_section .searchBox .searchCategory:focus {
    border-color: #7e69fe;
    box-shadow: 0 0 0 0.25rem #7d69fe81;
}

.community_section .searchBox input[type='text'] {
    width: 400px;
    height: 38px;
    margin: 0 5px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: solid 1px #dddddd;
    border-radius: 0.375rem;
    background-color: white;
    outline: none;
}

.community_section .searchBox input:active,
.community_section .searchBox input:focus {
    border: solid 1px #7e69fe;
    box-shadow: 0 0 0 0.25rem #7d69fe81;
}

.community_section .searchBox .searchBtn {
    border: 1px solid #7e69fe;
    color: #ffffff;
    background-color: #7e69fe;
}