/* 
====================================================
OGG 마이페이지 CSS
====================================================
*/
.table .partyitem tr:hover {
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}

.myPage_section {
    background-color: rgb(244, 244, 250);
    width: 100vw;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 80px 0;
}

.myPage_section .myPage_Wrap {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
}

.myPage_section .myPage_Wrap .menuBox {
    max-width: 280px;
    width: 100%;
}

.myPage_section .myPage_Wrap .menuBox .box01,
.myPage_section .myPage_Wrap .menuBox .box02 {
    width: 100%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px 12px 10px 12px;
    position: relative;
}

.myPage_section .myPage_Wrap .menuBox .box01.longver {
    height: 480px;
    padding: 32px 12px;
    position: relative;
}

.myPage_section .myPage_Wrap .menuBox .box02 .notice {
    cursor: pointer;
    width: 100%;
    height: 48px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 10px;
    padding: 12px;
}

.myPage_section .myPage_Wrap .menuBox .box02 .notice:hover {
    background-color: rgb(246, 246, 246);
}

.myPage_section .myPage_Wrap .menuBox .box02 .notice p.text {
    margin-left: 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgb(34, 34, 34);
}

.myPage_section .myPage_Wrap .menuBox .menuList {
    
}

.myPage_section .myPage_Wrap .menuBox .menuList .titleText{
    margin-left: 16px;
    margin-bottom: 12px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: rgb(34, 34, 34);
}

.myPage_section .myPage_Wrap .menuBox .menuList a {
    text-decoration: none;
    color: inherit;
}

.myPage_section .myPage_Wrap .menuBox .menuList .item {
    cursor: pointer;
    padding: 13.5px 16px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgb(34, 34, 34);
}

.myPage_section .myPage_Wrap .menuBox .menuList .item:hover {
    background-color: rgb(246, 246, 246);
}

.myPage_section .myPage_Wrap .infoBox {
    position: relative;
    max-width: 580px;
    min-width: 400px;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    height: calc(230px);
    min-height: 640px;
    padding: 32px 24px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.myPage_section .myPage_Wrap .infoBox::-webkit-scrollbar {
    display: none !important;
}

.myPage_section .myPage_Wrap .infoBox p.titleText {
    height: 21px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: rgb(34, 34, 34);
    margin-bottom: 0;
}

.myPage_section .myPage_Wrap .infoBox p.titleText a.button {
    float: right;
    color: #ffffff;
    text-decoration: none;
    background-color: #7e69fe;
    padding: 3px 10px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    transform: translateY(-3px);
}

.myPage_section .myPage_Wrap .infoBox .line {
    width: 100%;
    margin: 20px 0px;
    height: 1px;
    background-color: rgb(227, 227, 227);
}

.myPage_section .myPage_Wrap .infoBox .formBox {}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list {}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list {
    list-style: none;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list p.text {
    display: inline;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list li {
    margin-bottom: 10px;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list li button.pwdBtn {
    border: 1px solid #7e69fe;
    color: #7e69fe;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list li button.pwdBtn:hover {
	color: #ffffff;
	background-color: #7e69fe;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list li label {
    display: inline-block;
    width: 160px;
    padding: 10px 0;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list.updatePwd li label {
	width: 120px !important;
}

.form-list.updatePwd input[type='password'] {
	width: 320px !important;
}

.form-list input[type='text'], .form-list input[type='password'], .form-list input[type='email'], .form-list input[type='tel'], .form-list select {
    width: 300px;
    height: 38px;
    margin-right: 10px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: solid 1px #dddddd;
    border-radius: 0.375rem;
    background-color: white;
    outline: none;
}

.form-list select {
    display: inline-block;
}

.myPage_section .myPage_Wrap .infoBox .formBox .form-list li input:active,
.myPage_section .myPage_Wrap .infoBox .formBox .form-list li input:focus {
    border: solid 1px #7e69fe;
}

.myPage_section .myPage_Wrap .infoBox .formBox .btnBox {
    position: relative;
    /* min-height: 53px; */
    margin-top: 30px;
    text-align: center;
}

.myPage_section .myPage_Wrap .infoBox .formBox .btnBox .btn {
    position: relative;
    display: inline-block;
    min-width: 150px;
    height: 50px;
    margin: 1px 0;
    padding: 0 10px;
    font-size: 18px;
    color: #7e69fe;
    text-align: center;
    line-height: 48px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    overflow: hidden;
}

.myPage_section .myPage_Wrap .infoBox .formBox .btnBox .redBtn {
    border: 1px solid tomato;
    color: tomato;
}

.myPage_section .myPage_Wrap .infoBox .formBox .btnBox .btn:hover {
    background-color: #7e69fe;
    color: #ffffff;
}

.myPage_section .myPage_Wrap .infoBox .formBox .btnBox .redBtn:hover {
    background-color: tomato;
    color: #ffffff;
}

.myPage_section .myPage_Wrap .bannerBox {
    max-width: 280px;
    width: 100%;
    margin-left: 20px;
}

.myPage_section .myPage_Wrap .bannerBox .banner {
    padding: 40px 24px 0px 24px;
    max-width: 280px;
    width: 100%;
    height: 219px;
    border-radius: 15px;
    background-color: rgb(101, 101, 229);
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    color: rgb(34, 34, 34);
    position: relative;
    cursor: pointer;
}

.myPage_section .myPage_Wrap .bannerBox .banner p.text {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.myPage_section .myPage_Wrap .bannerBox .banner .imgNbtn {
    position: absolute;
}

.myPage_section .myPage_Wrap .bannerBox .banner .imgNbtn a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.myPage_section .myPage_Wrap .bannerBox .banner .imgNbtn img.question {
    width: 100px;
    float: right;
}

/* ========== 비밀번호 확인 ========== */
.myPage_section .myPage_Wrap .infoBox .formBox .titleText {
	margin: 30px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.myPage_section .myPage_Wrap .infoBox .formBox input[type='password'] {
	width: 350px;
    height: 40px;
    margin-right: 10px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: solid 1px #dddddd;
    border-radius: 0.375rem;
    background-color: white;
    outline: none;
}


.myPage_section .myPage_Wrap .infoBox .formBox input:active,
.myPage_section .myPage_Wrap .infoBox .formBox input:focus {
    border: solid 1px #7e69fe;
}


/* ========== 내 파티 관리하기 ========== */
.myPage_section .myPage_Wrap .infoBox .partyBox {
    width: 100%;
    /* height: 15%; */
    padding: 15px 30px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #666666;
    vertical-align: top;
    border-radius: 20px;
    border: solid 1px #dddddd;
    background-color: white;
    /* overflow: hidden; */
    /* cursor: pointer; */
}

.myPage_section .myPage_Wrap .infoBox .partyBox:hover {
    border: solid 1px #7e69fe;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .logoImg {
    display: inline-block;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .logoImg img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .partyTitle {
    display: inline-block;
    margin-right: 15px;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .partyTitle .text {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
    color: #333333;
    white-space: nowrap;
}

.myPage_section .myPage_Wrap .infoBox .partyBox:hover .partyTitle .text {
    color: #7e69fe !important;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .partyPosition {
    display: inline-block;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .partyPosition p.badge {
    margin-bottom: 0;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .partyPosition .leader {
    background-color: tomato;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .partyPosition .member {
    background-color: #20b2aa;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .btnBox {
    display: inline-block;
    float: right;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .btnBox .button {
    min-width: 70px;
    height: 40px;
    margin: 5px 0;
    padding: 0 10px;
    font-size: 15px;
    color: #7e69fe;
    text-align: center;
    line-height: 38px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    overflow: hidden;
}

.myPage_section .myPage_Wrap .infoBox .partyBox .btnBox .button:hover {
    background-color: #7e69fe;
    color: #ffffff;
}

/* ========== 게시글, 찜한 컨텐츠 관리 ========== */
.myPage_section .myPage_Wrap .infoBox nav.pageNav {
    margin: 0 auto;
}

.myPage_section .myPage_Wrap .infoBox nav.pageNav li a.c_purple {
    color: #7e69fe !important;
}

/* ========== 페이지 Nav ========== */

.myPage_section .myPage_Wrap .infoBox .pageNav {
    text-align: center;
    margin: 0 auto;
}

.myPage_section .myPage_Wrap .infoBox .pageNav>button {
    border: 1px solid #7e69fe;
    color: #7e69fe;
}

..myPage_section .myPage_Wrap .infoBox .pageNav .arrowBtn {
    background-color: #7e69fe;
    color: #ffffff;
}

.myPage_section .myPage_Wrap .infoBox .pageNav .pageNoBtn:hover {
    background-color: #7e69fe;
    color: #ffffff;
}


/* ========== 포인트 ========== */
.myPage_section .myPage_Wrap .infoBox .pointBox {
    width: 100%;
    padding: 18px 24px 18px 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.myPage_section .myPage_Wrap .infoBox .pointBox .titleText,
.myPage_section .myPage_Wrap .infoBox .pointBox .pointText {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.myPage_section .myPage_Wrap .infoBox .pointBox .titleText img {
    width: 24px;
    height: 24px;
}

.myPage_section .myPage_Wrap .infoBox .pointBox .titleText .text {
    margin-left: 6px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.myPage_section .myPage_Wrap .infoBox .pointBox .pointText .text {
    margin-left: 6px;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-align: left;
}

/* ========== 공지사항 ========== */
.myPage_section .myPage_Wrap .infoBox .noticeBox {
    width: 100%;
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .subTextBox {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .subTextBox .createDate,
.myPage_section .myPage_Wrap .infoBox .noticeBox .subTextBox .readCount {
    margin-bottom: 0;
    font-size: 0.8rem;
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .contentBox {
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    margin: 20px 0;
    padding: 20px 10px;
    height: 400px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .contentBox::-webkit-scrollbar {
    display: none !important;
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .btnBox {
    position: relative;
    /* min-height: 53px; */
    margin-top: 30px;
    text-align: center;
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .btnBox .btn {
    position: relative;
    display: inline-block;
    min-width: 150px;
    height: 50px;
    margin: 1px 0;
    padding: 0 10px;
    font-size: 18px;
    color: #7e69fe;
    text-align: center;
    line-height: 48px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    overflow: hidden;
}

.myPage_section .myPage_Wrap .infoBox .noticeBox .btnBox .btn:hover {
    background-color: #7e69fe;
    color: #ffffff;
}

/* ========== 1:1 문의 ========== */
.table .partyitem td span.statusN {
    background-color: #dddddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.table .partyitem td span.statusY {
    background-color: #7e69fe;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #ffffff;
}

.myPage_section .infoBox form .titleBox {
    padding: 0 0 10px 0;
}

.myPage_section .infoBox form .titleBox label.c_title {
    font-size: 1rem;
    font-weight: 500;
}

.myPage_section .infoBox form .titleBox input[type='text'] {
    width: 90%;
    height: 38px;
    margin: 0 5px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: solid 1px #dddddd;
    border-radius: 0.375rem;
    background-color: white;
    outline: none;
}

.myPage_section .infoBox form .titleBox input:active,
.myPage_section .infoBox form .titleBox input:focus, 
.myPage_section .infoBox form .titleBox input:focus-visible {
    border: solid 1px #7e69fe;
    /* box-shadow: 0 0 0 0.25rem #7d69fe81; */
    outline: none;
}

.myPage_section .infoBox form .contentBox {
    padding: 0;
}

.myPage_section .infoBox form .contentBox textarea {
    width: 100%;
    border-radius: 0.375rem;
    padding: 10px;
    border: solid 1px #dddddd;
    resize: none;
}

.myPage_section .infoBox form .contentBox textarea:active,
.myPage_section .infoBox form .contentBox textarea:focus,
.myPage_section .infoBox form .contentBox textarea:focus-visible {
    border: solid 1px #7e69fe;
    outline: none;
}

.myPage_section .infoBox form .btnBox {
    position: relative;
    /* min-height: 53px; */
    margin-top: 10px;
    text-align: center;
}

.myPage_section .infoBox form .btnBox .askSubmitBtn {
    display: inline-block;
    min-width: 150px;
    height: 50px;
    margin: 1px 0;
    padding: 0 10px;
    font-size: 18px;
    color: #7e69fe;
    text-align: center;
    line-height: 48px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    overflow: hidden;
}

.myPage_section .infoBox form .btnBox .askSubmitBtn:hover {
	background-color : #7e69fe;
	color : #ffffff;
}

