/* 
====================================================
OGG Party Page CSS
====================================================
*/

/* ****** 파티 만들기 Page ****** */
.createParty_section {
    background-color: rgb(244, 244, 250);
    width: 100vw;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 80px 0;
}

.createParty_section .titleBox h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    position: relative;
}

.createPartyTab_row_01 {}


/* ****** 버튼 ****** */
.createPartyTab_row_01 .btn_container {}
.createPartyTab_row_01 .btn_container section {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 32px auto 0 auto;
    position: relative;
}

.createPartyTab_row_01 .btn_container section .btnBox{
    /* background-color: #ffffff; */
    cursor: pointer;
    /* width: 10%; */
    /* padding: 10px 0; */
}

/* .createPartyTab_row_01 .btn_container section .btnBox:hover {
    box-shadow: 0.4rem 0.4rem 1.2rem 0 rgba(5, 65, 184, 0.12);
} */

.createPartyTab_row_01 .btn_container section .btnBox.active {
    border-bottom: 2px solid #1f1f1f;
}


.createPartyTab_row_01 .btn_container section .btnBox .textItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPartyTab_row_01 .btn_container section .btnBox .textItem p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    color: rgb(101, 101, 101);
    padding-bottom: 8px;
    transition: color 0.3s ease 0s;
    margin-bottom: 0;
}

.createPartyTab_row_01 .btn_container section .btnBox.active .textItem p  {
    color: rgb(34, 34, 34);
    transition: color 0.3s ease 0s;
}

/* ****** 콘텐츠 ****** */

.createPartyTab_row_02{}

.createPartyTab_row_02 .content_container {
    display: none;
    margin: 0 !important;
}

.createPartyTab_row_02 .content_container{
    display: block;
}

.createPartyTab_row_02 .content_container {}

.createPartyTab_row_02 .content_container .contentBox {
    min-height: 420px;
    margin-top: 24px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 140px);
    justify-content: center;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    max-width: 140px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-top: 24px;
    position: relative;
    cursor: pointer;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox img.logoImg {
    width: 88px;
    height: 88px;
    object-fit: contain;
    margin-bottom: 14px;
    border-radius: 50%;
    opacity: 1;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox .serviceNameText {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgb(34, 34, 34);
    opacity: 1;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox .saveText {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: rgb(101, 101, 229);
    opacity: 1;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox .priceWrap {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: rgb(101, 101, 101);
    opacity: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox img.badgeIcon {
    width: 38px;
    height: 17px;
    margin-left: 2px;
}

body.modal-open {
    overflow-y: scroll !important;
}

/* ****** 파티 만들기 모달 창 ****** */

.partyModal_title {
    border-bottom: none !important;
    /* padding: var(--bs-modal-header-padding); */
    padding: 30px 20px 10px 20px;
}

.partyModal_title h2.titleText {
    height: auto;
    font-size: 21px;
    line-height: 31.5px;
    margin-bottom: 8px;
}

.partyModal_title h2.titleText span.subText {
    height: 17px;
    font-size: 14px;
    text-align: left;
    color: rgb(101, 101, 101);
}

.partyModal_title p.serviceText {
    display: inline-block;
    width: auto;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: rgb(255, 255, 255);
}

.partyModal_content_01,
.partyModal_content_02 {
    /* position: relative; */
    flex: 1 1 auto;
    /* padding: var(--bs-modal-padding); */
    padding: 10px 20px 30px 20px;
}

.nextBtnBox {
    margin-top: 20px;
    border-top: none !important;
    padding-bottom: 30px;
}

.nextBtnBox input.nextBtn {
    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    background-color: rgb(64, 64, 204);
    font-size: 16px;
    line-height: 19px;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.partyModal_content_01 .serviceName_gray {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin-bottom: 10px;
}

.partyModal_content_01 .serviceName_gray label.text{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: rgb(34, 34, 34);
}

.partyModal_content_01 .serviceName_purple {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1.5px solid rgb(64, 64, 204);
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin-bottom: 10px;
}

.partyModal_content_01 .serviceName_purple label.text {
    margin-left: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: rgb(64, 64, 204);
}

.partyModal_content_01 .serviceName_purple ul.infoText {
    margin-top: 18px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(34, 34, 34);
    padding-left: 1rem;
}

.partyModal_content_01 .serviceName_purple ul.infoText li:last-child {
    text-decoration: none;
}

/* ****** 2번째 모달창 파티장 가이드 ****** */
.partyModal_content_02 .noticeBox {}

.partyModal_content_02 .noticeBox .titleText {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: rgb(74, 74, 74);
    margin: 0;
}

.partyModal_content_02 .noticeBox .infoText {
    margin-top: 12px;
    margin-bottom: 32px;
    width: 100%;
    padding: 16px 18px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgb(101, 101, 101);
}

.partyModal_content_02 .checkBox {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.partyModal_content_02 .checkBox img.checkIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.partyModal_content_02 .checkBox span.text {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(74, 74, 74);
}


/* 
====================================================
OGG 파티 만들기 입력 페이지CSS
====================================================
*/

.enrollPage02 {
    min-height: 600px;
    padding: 50px 0 100px 0;
}

.enrollPage02 .contentWrap {
    position: relative;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.enrollPage02 .contentWrap .formBox {
    max-width: 800px;
    margin: 0 auto;
}

.enrollPage02 .contentWrap .serviceInfoBox {
    border-radius: 20px;
    border: solid 1px #cec8f1;
    width: max-content;
}

.enrollPage02 .contentWrap .serviceInfoBox .text {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 0;
    padding: 5px 20px;
}
.enrollPage02 .contentWrap .serviceInfoBox .text .logoImg {
    width: 40px;
    height: 40px;
    margin: 0 15px 0 30px;
}

.enrollPage02 .contentWrap .serviceInfoBox .text .nameText {
    font-weight: 500;
    color: #1f1f1f;
}


.enrollPage02 .contentWrap .formBox h3 {
    position: relative;
    margin-top: 56px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
} 

.c_purple {
    color: #7e69fe;
}

.enrollPage02 .contentWrap .formBox .form-round-box {
    position: relative;
    padding: 25px 40px;
    border: solid 1px #cec8f1;
    border-radius: 20px;
}

.enrollPage02 .contentWrap .formBox .form-round-box ul.form-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.enrollPage02 .contentWrap .formBox .form-round-box ul.form-list li {
    position: relative;
    min-height: 42px;
    padding: 2px 0 2px 120px;
    font-size: 14px;
    color: #333333;
}

.enrollPage02 .contentWrap .formBox .form-round-box ul.form-list li .subject {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 120px;
    padding: 10px 0;
}

.form-list input[type='text'], .form-list input[type='password'], .form-list input[type='date'] {
    width: 300px;
    height: 38px;
    margin-right: 10px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: solid 1px #dddddd;
    border-radius: 0.375rem;
    background-color: white;
    outline: none;
}

.enrollPage02 .contentWrap .formBox .form-round-box .subInfoText {
    font-size: 0.75rem;
    line-height: 1.8;
    color: #333333;
    font-weight: 300;
    margin: 10px 0;
}

.enrollPage02 .contentWrap .formBox .form-round-box .linkText {
    color: #333333;
    font-size: 0.8rem;
}

.enrollPage02 .contentWrap .formBox .form-round-box .ruleBox {}

.enrollPage02 .contentWrap .formBox .form-round-box .ruleBox .titleText {
    font-size: 1rem;
    margin-bottom: 10px;
}

.enrollPage02 .contentWrap .formBox .form-round-box .ruleBox .ruleText {
    border: solid 1px #dddddd;
    border-radius: 20px;
    padding: 10px 20px;
    width: 500px;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #333333;
}



.enrollPage01 .contentWrap .formBox .buttonBox,
.enrollPage02 .contentWrap .formBox .buttonBox  {
    position: relative;
    min-height: 53px;
    margin-top: 60px;
    text-align: center;
}

.enrollPage01 .contentWrap .formBox .buttonBox .button,
.enrollPage02 .contentWrap .formBox .buttonBox .button {
    position: relative;
    display: inline-block;
    min-width: 240px;
    height: 70px;
    margin: 1px 0;
    padding: 0 10px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 68px;
    border: 0;
    border-radius: 5px;
    background-color: #cecdd4;
    border: 1px solid #cecdd4;
    overflow: hidden;
}

.enrollPage01 .contentWrap .formBox .buttonBox .button:hover,
.enrollPage02 .contentWrap .formBox .buttonBox .button:hover {
    background-color: #ffffff;
    color: #333333;
}

.enrollPage01 .contentWrap .formBox .buttonBox .button.button-purple,
.enrollPage02 .contentWrap .formBox .buttonBox .button.button-purple {
    background-color: #7e69fe;
    border: 1px solid #7e69fe;
}

.enrollPage01 .contentWrap .formBox .buttonBox .button.button-purple:hover,
.enrollPage02 .contentWrap .formBox .buttonBox .button.button-purple:hover {
    color: #7e69fe;
    background-color: #ffffff;
}

/* 
====================================================
OGG 파티 만들기 완료 페이지CSS
====================================================
*/

.createPartyThxU_section {
    padding: 150px 0;
    background-color: rgb(244, 244, 250);
}

.createPartyThxU_section .mainTextContainer {
    width: 70%;
    margin: 0 auto 40px auto;
}

.createPartyThxU_section .mainTextContainer .iconBox {
    text-align: right;
}
.createPartyThxU_section .mainTextContainer .iconBox img {
    width: 150px;
}

.createPartyThxU_section .mainTextContainer .textBox p {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2;
    margin-bottom: 0;
    padding-top: 5%;
}

.createPartyThxU_section .mainTextContainer .textBox p span img {
    width: 30px;
    transform: translateY(-10%);
}

.createPartyThxU_section .buttonContainer {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.createPartyThxU_section .buttonContainer p {
    font-size: 1.5rem;
    font-size: 500;
}

.createPartyThxU_section .buttonContainer .buttonBox button{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: #7e69fe;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid #7e69fe;
    -webkit-apperance: none;
    -moz-appearance: none;
    appearance: none;
}

.createPartyThxU_section .buttonContainer .buttonBox button.gotoMain {
    margin-right: 10px;
}

.createPartyThxU_section .buttonContainer .buttonBox button:hover {
    color: #7e69fe;
    background-color: #ffffff;
}