/* 
====================================================
OGG LoginPage CSS
====================================================
*/

.loginPage_section {
    /* min-height: 600px; */
    padding: 0 0 100px 0;
}

.loginPage_section .contentWrap {
    position: relative;
    max-width: 1280px;
    /* height: 100%; */
    margin: 0 auto;
}

.loginPage_section .contentWrap .login-form {
    padding-top: 120px;
    max-width: 400px;
    margin: 0 auto;
}

.loginPage_section .contentWrap .login-form .login-logo {
    position: relative;
    margin-bottom: 42px;
    text-align: center;
}

.loginPage_section .contentWrap .login-form .login-input {
    position: relative;
    margin: 8px 0;
}

.loginPage_section .contentWrap .login-form .login-input input {
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
}

.login-input input[type='text'],
.login-input input[type='password'] {
    width: 100%;
    height: 38px;
    font-size: 14px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: solid 1px #dddddd;
    background-color: white;
    outline: none;
}

.loginPage_section .contentWrap .login-form .login-input input:active,
.loginPage_section .contentWrap .login-form .login-input input:focus {
    border: solid 1px #7e69fe;
}

.loginPage_section .contentWrap .login-form .login-option {
    position: relative;
}

.loginPage_section .contentWrap .login-form .login-option .input-check {
    position: relative;
    display: inline-block;
}

/* .loginPage_section .contentWrap .login-form .login-option .input-check input[type='checkbox'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
} */

.loginPage_section .contentWrap .login-form .login-option .input-check input[type='checkbox'] + label {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.loginPage_section .contentWrap .login-form .login-option .right {
    position: absolute;
    top: 0;
    right: 0;
}

.loginPage_section .contentWrap .login-form .login-option .right a {
    font-size: 14px;
    color: #666666;
    text-decoration: none;
}

.loginPage_section .contentWrap .login-form .login-option .right a:hover {
    color: #7e69fe;
}

.loginPage_section .contentWrap .login-form .login-option .right .v-bar {
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.loginPage_section .contentWrap .login-form .login-option .right .v-bar:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 12px;
    margin-top: -6px;
    border-left: 1px solid #ececec;

}

.loginPage_section .contentWrap .login-form .form-button {
    margin: 25px 0 20px 0;
    background-color: #7e69fe;
    width: 100%;
    height: 60px;
    line-height: 58px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    min-width: 240px;
    padding: 0 10px;
    font-size: 18px;
    color: white;
    text-align: center;
    border: 0;
    overflow: hidden;
}

.loginPage_section .contentWrap .login-form .form-text {
    position: relative;
}

.loginPage_section .contentWrap .login-form .form-text p {
    font-size: 14px;
    color: #666666;
    margin: 0;
}

.loginPage_section .contentWrap .login-form .form-text p .text-purple {
    color: #7e69fe !important;
}

.loginPage_section .contentWrap .form-sns-join {
    position: relative;
    font-size: 0;
}

.loginPage_section .contentWrap .form-sns-join a {
    display: inline-block;
    height: 70px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 70px;
    border-radius: 10px;
    text-decoration: none;
}

.loginPage_section .contentWrap .form-sns-join a img {
    position: relative;
    top: -2px;
}

.loginPage_section .contentWrap .form-sns-join a.naver {
    color: #ffffff;
    background-color: #1fc800;
}

.loginPage_section .contentWrap .form-sns-join a.kakao {
    color: #331420;
    background-color: #f9e000;
    width: 100%;
    margin-top: 20px;
}

/* ************************ */
/* **** 아이디/비밀번호 찾기 *** */
/* ************************ */

.findIDPWD_section {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}

.findIDPWD_section span.c_purple {
    color: #7e69fe !important;
}

.findIDPWD_section .textBox .titleText {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.findIDPWD_section .textBox .subText {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.findIDPWD_section .email-input {
    position: relative;
    margin: 8px auto;
}

.findIDPWD_section .email-input input {
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
}

.email-input input[type='email'],
.email-input input[type='password'],
.email-input input[type='text'] {
    width: 500px;
    height: 60px;
    font-size: 14px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: solid 1px #dddddd;
    background-color: white;
    outline: none;
}

.findIDPWD_section .email-input input:active,
.findIDPWD_section .email-input input:focus {
    border: solid 1px #7e69fe;
}

.findIDPWD_section .buttonBox {
    position: relative;
    min-height: 53px;
    margin-top: 30px;
    text-align: center;
}

.findIDPWD_section .buttonBox .button {
    position: relative;
    display: inline-block;
    min-width: 240px;
    height: 70px;
    margin: 1px 0;
    padding: 0 10px;
    font-size: 18px;
    color: #7e69fe;
    text-align: center;
    line-height: 68px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    overflow: hidden;
}

/* .findIDPWD_section .buttonBox .button:hover {
    background-color: #7e69fe;
    color: #ffffff;
} */

.findIDPWD_section .buttonBox .button.button-purple {
    background-color: #7e69fe;
    color: #ffffff;
}

/* .findIDPWD_section .buttonBox .button.button-purple:hover {
    background-color: #ffffff;
    color: #7e69fe;
} */