/* 
====================================================
OGG Common CSS
====================================================
*/

/* ********************* */
/* ****** 상단 메뉴 ****** */
/* ********************* */
* {
    font-family: 'Noto Sans KR', 'NanumGothic', '나눔고딕', ng, 'Malgun Gothic', Gulim, Dotum, Sans-Serif !important;
}
header {
    /* position: absolute; */
    /* top: 35px; */
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ffe655;
    z-index: 1000;
}

/* header .width-container {
    position: relative;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
} */
header .width-container {
    position: relative;
    max-width: 1180px;
    width: 100%;
    inset: 0px;
    margin: 0 auto;
    display: flex;
}

header .width-container .logoBox {
    position: relative;
    display: inline-block;
    padding-top: 40px;
    z-index: 1;
}

header .width-container .btnBox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

header .width-container .btnBox a.loginBtn {
    position: relative;
    display: inline-block;
    width: 116px;
    height: 34px;
    margin-top: 35px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    border-radius: 17px;
    border: 1px solid #7e69fe;
    background-color: #7e69fe;
}

header .width-container .btnBox a.loginBtn:hover {
    background-color: #ffffff;
    color: #7e69fe;
}

header .width-container .btnBox a.logoutBtn {
    position: relative;
    display: inline-block;
    width: 116px;
    height: 34px;
    margin-top: 35px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    border-radius: 17px;
    border: 1px solid tomato;
    background-color: tomato;
}

header .width-container .btnBox a.logoutBtn:hover {
    background-color: #ffffff;
    color: tomato;
}

header .width-container .btnBox a.myPageBtn {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 34px;
    margin-top: 35px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    border-radius: 17px;
    border: 1px solid #7e69fe;
    background-color: #7e69fe;
} 

header .width-container .btnBox a.myPageBtn:hover {
    background-color: #ffffff;
    color: #7e69fe;
}


/* 로그인 후 나오는 버튼 */
header .width-container .btnBox img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    object-fit: contain;
}


header .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    text-align: center;
}

header .menu-container ul.menuBox {
    margin: 0;
    padding: 0;
    list-style: none;
}

header .menu-container ul.menuBox li {
    display: inline-block;
}

header .menu-container ul.menuBox li a {
    position: relative;
    display: inline-block;
    height: 100px;
    padding: 0 40px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #888888;
    text-align: center;
    line-height: 100px;
}

header .menu-container ul.menuBox li a:hover {
    color: #333333;
    border-bottom: 3px solid #7e69fe;
}



/* ********************* */
/* ****** Footer ****** */
/* ******************** */

footer {
    position: relative;
    padding: 35px 0;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    line-height: 20px;
    background-color: white;
    border-top: 1px solid #f0eff7;
    word-break: keep-all;
}

footer .width-container {
    position: relative;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

footer .width-container .contentWrap {
    position: relative;
    padding-left: 125px;
}

footer .width-container .contentWrap .logoBox {
    position: absolute;
    top: 0;
    left: 0;
}

footer .width-container .contentWrap .v-bar {
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

footer .width-container .contentWrap a:link {
    color: #666666;
    text-decoration: none;
}

footer strong {
    text-decoration: underline;
}

footer .v-bar::after {
    right: -11px;
}

.v-bar::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 12px;
    margin-top: -6px;
    border-left: 1px solid #ececec;
}

footer span {
    white-space: nowrap;
}
