@charset "UTF-8";
/* ****** 콘텐츠 ****** */

.createPartyTab_row_02{}

.createPartyTab_row_02 .content_container {
    display: none;
    margin: 0 !important;
}

.createPartyTab_row_02 .content_container{
    display: block;
}

.createPartyTab_row_02 .content_container {}

.createPartyTab_row_02 .content_container .contentBox {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 150px);
    justify-content: center;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    max-width: 140px;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-top: 24px;
    position: relative;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox img.logoImg {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 14px;
    border-radius: 50%;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox .serviceNameText {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgb(34, 34, 34);
    opacity: 1;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox .saveText {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: rgb(101, 101, 229);
    opacity: 1;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox .priceWrap {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: rgb(101, 101, 101);
    opacity: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.createPartyTab_row_02 .content_container .contentBox .itemBox img.badgeIcon {
    width: 38px;
    height: 17px;
    margin-left: 2px;
}

body.modal-open {
    overflow-y: scroll !important;
}