<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.ogg.admin.model.mapper.AdminMapper">

<resultMap type="Notice" id="noticeListResultMap">
	<result column="ROWNUM" property="n_rno"/>
	<result column="M_NAME" property="n_m_name"/>
</resultMap>
<resultMap type="OttAdmin" id="ottListResultMap">
	<result column="rownum" property="ott_rnum"/>
</resultMap>

<resultMap type="Question" id="questionListResultMap">
	<result column="ROWNUM" property="q_rno"/>
	<result column="M_NAME" property="q_m_name"/>
</resultMap>

<resultMap type="Answer" id="answerResultMap">
	<result column="M_NAME" property="a_m_name"/>
</resultMap>

<select id="selectMember" resultType="MemberAD" parameterType="string">
SELECT M_ID, M_NAME, M_NICKNAME,M_EMAIL,M_PHONENUMBER
FROM MEMBER
WHERE M_ID = #{memberid}
</select>

<select id="selectOtt" parameterType="string" resultType="UsingOtt">
SELECT DISTINCT
*
FROM(
SELECT M_NAME, PLAN_NAME 
FROM PARTY P
JOIN MEMBER_PARTY Y ON(P.P_NO = Y.P_NO)
JOIN MEMBER M ON (M.M_NO=Y.M_NO)
JOIN OTT_INFO O ON(O.OTT_NO = P.OTT_NO)
WHERE M.M_ID = #{memberid}
)
ORDER BY M_NAME
</select>

<select id="getMemberList" resultType="MemberAD">
	SELECT ROWNUM
	,M.*
	FROM (
	SELECT M_NAME,M_ID, M_JOINDATE, M_AUTHORITY, M_POINT,m_status
	FROM MEMBER
	ORDER BY M_NAME) M
</select>
<select id="getOTTList" resultMap="ottListResultMap">
SELECT rownum,OTT_NO, OTT_NAME,OTT_CLASS, OTT_MAX_MEMBER,PLAN_NAME, PLAN_PRICE, OTT_THUMB
FROM OTT_INFO
</select>
<select id="getNoticeCount" resultType="_int">
	SELECT COUNT(*)
	FROM NOTICE
	WHERE N_STATUS = 'Y'
</select>

<select id="getPartyCount" resultType="_int">
select count(*)
from party
</select>

<select id="getPieList" resultType="OttForPie">
select * 
from(
SELECT O.OTT_NAME 
    ,COUNT(*) "COUNT"
FROM PARTY P
JOIN OTT_INFO O ON(O.OTT_NO = P.OTT_NO)
GROUP BY O.OTT_NAME
ORDER BY COUNT(*) DESC)
<![CDATA[WHERE ROWNUM <= 4 ]]>
</select>


<select id="getQuestionCount" resultType="_int">
	SELECT COUNT(*)
	FROM QUESTION
</select>
<select id="getFebUserCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		<![CDATA[WHERE M_JOINDATE < TO_DATE(20220228)]]>
	</select>
	
	<select id="getMayUserCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		<![CDATA[WHERE M_JOINDATE < TO_DATE(20220531)]]>
	</select>
	
	<select id="getAugUserCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		<![CDATA[WHERE M_JOINDATE < TO_DATE(20220831)]]>
	</select>
	
	<select id="getOctUserCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		<![CDATA[WHERE M_JOINDATE < TO_DATE(20221031)]]>
	</select>

<select id="selectNoticeList" resultMap="noticeListResultMap">
	SELECT ROWNUM,
	       N.* 
	FROM (
	SELECT N_NO,
	       N_TITLE,
	       M.M_NAME,
	       N_CREATE_DATE,
	       N_READCOUNT
	       
	FROM NOTICE N
	JOIN MEMBER M ON(N.N_M_NO = M.M_NO)
	WHERE N_STATUS = 'Y'
	) N
	ORDER BY N_NO DESC
</select>

<select id="getQuestionList" resultMap="questionListResultMap">
	SELECT ROWNUM,
	       Q.* 
	FROM (
	SELECT Q_NO,
	       Q_TITLE,
	       M.M_NAME,
	       Q_ENROLLDATE,
	       Q_STATUS
	FROM QUESTION Q
	JOIN MEMBER M ON(Q.Q_M_NO = M.M_NO)
    ORDER BY Q_STATUS
	) Q
</select>

<select id="getNoticeView" resultMap="noticeListResultMap" parameterType="_int">
	SELECT  ROWNUM,
			N.*
			FROM (
			SELECT N_NO,
			N_TITLE,
			N_CONTENT,
			M.M_NAME,
			N_CREATE_DATE,
			N_PATH,
			N_READCOUNT
	FROM NOTICE N
	JOIN MEMBER M ON(N.N_M_NO = M.M_NO)
	WHERE N_STATUS = 'Y' AND N_NO = #{page}
	) N
	ORDER BY N_NO
</select>

<select id="getQuestionView" resultMap="questionListResultMap" parameterType="_int">
	SELECT ROWNUM,
		   Q.*
	FROM (
	SELECT  Q_NO,
			Q_TITLE,
			Q_CONTENT,
			M.M_NAME,
			Q_ENROLLDATE,
			Q_STATUS
	FROM QUESTION Q
	JOIN MEMBER M ON(Q.Q_M_NO = M.M_NO)
	WHERE Q_NO =#{no}
	) Q 
</select>

<select id="getAnswer" parameterType="_int" resultMap="answerResultMap">
SELECT A_NO,A_TITLE, A_DATE,A_CONTENT,M.M_NAME
FROM ANSWER A
JOIN MEMBER M ON(M.M_NO=A.A_M_NO)
WHERE Q_NO = #{no}
</select>


	<insert id="insertNotice" parameterType="Notice"
		useGeneratedKeys="true" keyProperty="n_no" keyColumn="N_NO">
		INSERT INTO NOTICE(
					N_NO,
					N_TITLE,
					N_CONTENT,
					N_PATH,
					N_M_NO)
		VALUES(
					SEQ_NOTICE.NEXTVAL,
					#{n_title},
					#{n_content},
					#{n_path},
					#{n_M_No}
					)
	</insert>
	
	<insert id="writeQuestion" parameterType="Question"
	useGeneratedKeys="true" keyProperty="q_no" keyColumn="Q_NO">
	INSERT INTO QUESTION(
				Q_NO,
				Q_TITLE,
				Q_CONTENT,
				Q_ENROLLDATE,
				Q_M_NO)
	VALUES(SEQ_QUESTIONS.NEXTVAL,
			#{q_title},
			#{q_content},
			#{q_M_no},
			12)
	</insert>
	
	<insert id="addOTT" parameterType="OttAdmin"
	useGeneratedKeys="true" keyProperty="ott_no" keyColumn="OTT_NO">
	INSERT INTO OTT_INFO(OTT_NO,
					OTT_NAME,
					OTT_CLASS,
					OTT_MAX_MEMBER,
					PLAN_NAME,
					PLAN_PRICE,
					OTT_THUMB
	)VALUES(SEQ_OTT_NO.NEXTVAL,
			#{ott_name},
			#{ott_class},
			#{ott_max_member},
			#{plan_name},
			#{plan_price},
			#{ott_thumb}
	)
	</insert>
	
	<insert id="insertAnswer" parameterType="Answer"
		useGeneratedKeys="true" keyProperty="a_no" keyColumn="A_NO">
	INSERT INTO
	ANSWER( A_NO,
			A_TITLE,
			A_CONTENT,
			A_DATE,
			A_M_NO,
			Q_NO)
	VALUES( SEQ_ANSWER.NEXTVAL,
			#{a_title},
			#{a_content},
			SYSDATE,
			#{a_m_no},
			#{q_no})
	</insert>
	<update id="updateQuestion" parameterType="Question">
	UPDATE QUESTION
	SET Q_TITLE = #{q_title},
	Q_CONTENT = #{q_content},
	Q_ENROLLDATE = SYSDATE
	WHERE Q_NO = #{q_no}
	</update>
	
	<update id="updateQnA" parameterType="Answer">
	UPDATE QUESTION
	SET QUESTION.Q_STATUS='Y',
	QUESTION.Q_A_NO = #{a_no}
	WHERE QUESTION.Q_NO = #{q_no}
	</update>

	<update id="updateNotice" parameterType="Notice">
	UPDATE NOTICE
	SET N_TITLE = #{n_title},
	N_CONTENT = #{n_content},
	N_PATH = #{n_path}
	WHERE N_NO = #{n_no}
	</update>
	
	<update id="answerUpdate" parameterType="Answer">
	UPDATE ANSWER
	SET A_TITLE = #{a_title},
	A_CONTENT = #{a_content}
	WHERE A_NO = #{a_no}
	</update>
	
	<update id="updateReadCount" parameterType="Notice">
	UPDATE NOTICE 
	SET N_READCOUNT=#{n_readcount}+1
	WHERE N_NO=#{n_no}
	</update>
	
	<update id="deleteNotice" parameterType="_int">
	UPDATE NOTICE
	SET N_STATUS = 'N'
	WHERE N_NO=#{no}
	</update>
	
	<delete id="deleteOtt" parameterType="_int">
	DELETE FROM OTT_INFO
	WHERE OTT_NO = #{no}
	</delete>
	

</mapper>
