/* 
====================================================
OGG 메인 페이지 CSS
====================================================
*/

@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mainHeader_section .gallery a {
    text-decoration: none;
}

.mainHeader_section .gallery {
    list-style: none;
    padding: 0;
    line-height: 1.5em;
    margin: 0;
    display: flex;
    /* height: 100vh; */
    height: 80vh;
}
.mainHeader_section .gallery li {
  /* border-right: 5px solid #000; */
    flex: 1;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.mainHeader_section .gallery li:last-child {
    border-right: none;
}
.mainHeader_section .gallery li:nth-child(1) {
    background: url(mainHeader_01.png) no-repeat center center;
}
.mainHeader_section .gallery li:nth-child(2) {
    background: url(mainHeader_02.png) no-repeat center center;
}
.mainHeader_section .gallery li:nth-child(3) {
    background: url(mainHeader_03.png) no-repeat center center;
}
.mainHeader_section .gallery li:nth-child(4) {
    background: url(mainHeader_04.png) no-repeat center center;
}
.mainHeader_section .gallery li:nth-child(5) {
    background: url(mainHeader_05.png) no-repeat center center;
}

.mainHeader_section .gallery:hover li {
    flex: 1;
}
.mainHeader_section .gallery li:hover {
    flex: 3;
    /* filter: grayscale(1) */
}

.mainHeader_section .gallery li .content {
    position: absolute;
    background-color: #7e69fe;
    color: #fff;
    text-align: center;
    height: 250px;
    bottom: -320px;
    transition: 0.5s;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
}

.mainHeader_section .gallery li .content h2.titleText {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.mainHeader_section .gallery li .content h2.subText {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.mainHeader_section .gallery li .content .trailerBtn {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.mainHeader_section .gallery li .content .trailerBtn:hover {
    color: #7d69fe;
    background-color: #ffffff;
}


.mainHeader_section .gallery li:hover .content {
    bottom: 0;
    transition-delay: 0.5s;
}
.content:before {
    content: '';
    position: absolute;
    background-color: #7d69fe;
    width: 100%;
    height: 50px;
    left: 0;
    top: 20px;
    transform-origin: left bottom;
    transform: rotate(-5deg) scale(1.3)
}


/*
    Name: YouTubePopUp
    Description: jQuery plugin to display YouTube or Vimeo video in PopUp, responsive and retina, easy to use.
    Version: 1.0.1
    Plugin URL: http://wp-time.com/youtube-popup-jquery-plugin/
    Written By: Qassim Hassan
    Twitter: @QQQHZ
    Websites: wp-time.com | qass.im | wp-plugins.in
    Dual licensed under the MIT and GPL licenses:
        http://www.opensource.org/licenses/mit-license.php
        http://www.gnu.org/licenses/gpl.html
    Copyright (c) 2016 - Qassim Hassan
*/

.YouTubePopUp-Wrap{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left:0;
    z-index:9999999999999;
}

.YouTubePopUp-animation{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap{ /* For WordPress */
    top:32px;
    z-index:99998;
}

.YouTubePopUp-Content{
    max-width:680px;
    display:block;
    margin:0 auto;
    height:100%;
    position:relative;
}

.YouTubePopUp-Content iframe{
    max-width:100% !important;
    width:100% !important;
    display:block !important;
    height:480px !important;
    border:none !important;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close{
    position:absolute;
    top:0;
    cursor:pointer;
    bottom:528px;
    right:0px;
    margin:auto 0;
    width:24px;
    height:24px;
    background:url(../images/close.png) no-repeat;
    background-size:24px 24px;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -o-background-size:24px 24px;
}

.YouTubePopUp-Close:hover{
    opacity:0.5;
}

@media all and (max-width: 768px) and (min-width: 10px){
    .YouTubePopUp-Content{
        max-width:90%;
    }
}

@media all and (max-width: 600px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:320px !important;
    }

    .YouTubePopUp-Close{
        bottom:362px;
    }
}

@media all and (max-width: 480px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:220px !important;
    }

    .YouTubePopUp-Close{
        bottom:262px;
    }
}









