<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.ogg.party.model.mapper.PartyMapper">

	<resultMap type="Party" id="partyResultMap">
		<id property="p_no" column="P_NO"/>
		<result property="ott_class" column="OTT_CLASS"/>
		<result property="ott_no" column="OTT_NO"/>
		<result property="p_share_id" column="P_SHARE_ID"/>
		<result property="p_share_pwd" column="P_SHARE_PWD"/>
		<result property="p_max_member" column="P_MAX_MEMBER"/>
		<result property="p_cur_member" column="P_CUR_MEMBER"/>
		<result property="p_start_date" column="P_START_DATE"/>
		<result property="p_period" column="P_PERIOD"/>
		<result property="p_end_date" column="P_END_DATE"/>
		<result property="p_comment" column="P_COMMENT"/>
		<result property="p_entry_price" column="P_ENTRY_PRICE"/>
		<result property="p_status" column="P_STATUS"/>
		<result property="ott_name" column="OTT_NAME"/>
		<result property="ott_thumb" column="OTT_THUMB"/>
		<result property="plan_name" column="PLAN_NAME"/>
		<result property="plan_price" column="PLAN_PRICE"/>
		<result property="p_accounts" column="P_ACCOUNTS"/>
		<result property="p_entry_price_output" column="P_ENTRY_PRICE_OUTPUT"/>
		<result property="p_deposit" column="P_DEPOSIT"/>
		<result property="accounts_count" column="ACCOUNTS_COUNT"/>
		<result property="p_end_date_output" column="P_END_DATE_OUTPUT"/>
		<result property="p_period_day" column="P_PERIOD_DAY"/>
		<result property="m_no" column="M_NO"/>
	</resultMap>
	
	<resultMap type="Ott" id="ottResultMap">
		<id property="ott_no" column="OTT_NO"/>
		<result property="ott_name" column="OTT_NAME"/>
		<result property="ott_thumb" column="OTT_THUMB"/>
		<result property="ott_class" column="OTT_CLASS"/>
		<result property="ott_max_member" column="OTT_MAX_MEMBER"/>
		<result property="plan_price" column="PLAN_PRICE"/>
		<result property="plan_price_output" column="PLAN_PRICE_OUTPUT"/>
		<result property="ott_status" column="OTT_STATUS"/>
		<result property="plan_name" column="PLAN_NAME"/>
		<result property="plan_each_price" column="PLAN_EACH_PRICE"/>
	</resultMap>
	
	<resultMap type="Point" id="pointResultMap">
		<id property="po_no" column="PO_NO"/>
		<result property="po_date" column="PO_DATE"/>
		<result property="po_status" column="PO_STATUS"/>
		<result property="po_point" column="PO_POINT"/>
		<result property="m_no" column="M_NO"/>
		<result property="r_num" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="MyParty" id="myPartyResultMap">
		<id property="p_no" column="P_NO"/>
		<id property="m_no" column="M_NO"/>
		<result property="m_id" column="M_ID"/>
		<result property="status" column="STATUS"/>
		<result property="ott_thumb" column="OTT_THUMB"/>
		<result property="plan_name" column="PLAN_NAME"/>
		<result property="start_date" column="START_DATE"/>
	</resultMap>
	
	<resultMap type="Pay" id="payResultMap">
		<id property="pay_no" column="PAY_NO"/>
		<result property="r_num" column="ROWNUM"/>
		<result property="status" column="STATUS"/>
		<result property="date" column="PAY_DATE"/>
		<result property="amount" column="AMOUNT"/>
		<result property="m_no" column="M_NO"/>
		<result property="amount_output" column="AMOUNT_OUTPUT"/>
		<result property="merchant_uid" column="MERCHANT_UID"/>
	</resultMap>
	
	<select id="selectOttList" resultMap="ottResultMap">
		SELECT OTT_NO,
		       OTT_NAME,
		       OTT_THUMB,
		       OTT_CLASS,
		       OTT_MAX_MEMBER,
		       PLAN_PRICE,
		       TO_CHAR(PLAN_PRICE,'999,999') AS PLAN_PRICE_OUTPUT,
		       TO_CHAR((PLAN_PRICE / OTT_MAX_MEMBER),'999,999') AS PLAN_EACH_PRICE,
		       PLAN_NAME,
		       OTT_STATUS
		FROM (
		SELECT ROW_NUMBER() 
		OVER(PARTITION BY OTT_NAME ORDER BY PLAN_PRICE DESC ) AS RNUM, OTT_INFO.*
		FROM OTT_INFO)
		WHERE RNUM=1
		ORDER BY OTT_NO
	</select>
	
	<select id="selectPlanList" resultMap="ottResultMap">
		SELECT OTT_NO,
			   OTT_NAME,
			   OTT_THUMB,
			   OTT_CLASS,
			   OTT_MAX_MEMBER,
			   PLAN_PRICE,
			   TO_CHAR(PLAN_PRICE,'999,999') AS PLAN_PRICE_OUTPUT,
			   PLAN_NAME,
			   OTT_STATUS
		FROM OTT_INFO
        WHERE OTT_NAME = #{ottName}
	</select>
	
	<select id="selectPlan" resultMap="ottResultMap">
		SELECT PLAN_NAME,
			   OTT_NO
		FROM OTT_INFO
		WHERE OTT_NO=#{ottNo}
	</select>

	<select id="selectOttInfo" resultMap="ottResultMap">
		SELECT PLAN_NAME,
			   OTT_NO,
			   OTT_THUMB,
			   PLAN_PRICE
		FROM OTT_INFO
		WHERE OTT_NO=#{modal_ott_no}
	</select>
	
	<insert id="insertParty" parameterType="Party">
		INSERT INTO PARTY(
			P_NO,
			M_NO,
			OTT_NO,
			P_SHARE_ID,
			P_SHARE_PWD,
			P_MAX_MEMBER,
			P_START_DATE,
			P_PERIOD,
			P_COMMENT,
			P_END_DATE,
			P_ACCOUNTS,
			P_ENTRY_PRICE
		)
		VALUES(
			SEQ_PARTY_NO.NEXTVAL,
			#{m_no},
			#{ott_no},
			#{p_share_id},
			#{p_share_pwd},
			#{p_max_member} + 1,
			#{p_start_date},
			#{p_period},
			#{p_comment},
			#{p_end_date},
			#{p_accounts},
			#{p_entry_price}
		)
	</insert>
	
	<select id="getPartyList" resultMap="partyResultMap">
		SELECT P.P_NO,
		       P.OTT_NO,
		       P.P_SHARE_ID,
		       P.P_SHARE_PWD,
		       P.P_MAX_MEMBER,
		       P.P_CUR_MEMBER,
		       P.P_START_DATE,
		       P.P_PERIOD,
		       P.P_END_DATE,
		       P.P_COMMENT,
		       P.P_ENTRY_PRICE,
		       TO_CHAR(P.P_ENTRY_PRICE,'999,999') AS P_ENTRY_PRICE_OUTPUT,
		       TO_CHAR(P.P_END_DATE,'YYYY-MM-DD') AS P_END_DATE_OUTPUT,
		       (TO_DATE(P.P_END_DATE) - TO_DATE(SYSDATE)) AS P_PERIOD_DAY,
		       P.P_STATUS,
		       O.OTT_NAME,
		       O.OTT_THUMB,
		       O.PLAN_NAME,
		       O.PLAN_PRICE
		FROM MEMBER_PARTY MP
		JOIN PARTY P ON(MP.P_NO = P.P_NO)
		JOIN OTT_INFO O ON(P.OTT_NO = O.OTT_NO)
		WHERE O.OTT_NAME = #{ott_name} AND P.P_CUR_MEMBER != P.P_MAX_MEMBER
		
		MINUS
		
		SELECT P.P_NO,
		       P.OTT_NO,
		       P.P_SHARE_ID,
		       P.P_SHARE_PWD,
		       P.P_MAX_MEMBER,
		       P.P_CUR_MEMBER,
		       P.P_START_DATE,
		       P.P_PERIOD,
		       P.P_END_DATE,
		       P.P_COMMENT,
		       P.P_ENTRY_PRICE,
		       TO_CHAR(P.P_ENTRY_PRICE,'999,999') AS P_ENTRY_PRICE_OUTPUT,
		       TO_CHAR(P.P_END_DATE,'YYYY-MM-DD') AS P_END_DATE_OUTPUT,
		       (TO_DATE(P.P_END_DATE) - TO_DATE(SYSDATE)) AS P_PERIOD_DAY,
		       P.P_STATUS,
		       O.OTT_NAME,
		       O.OTT_THUMB,
		       O.PLAN_NAME,
		       O.PLAN_PRICE
		FROM MEMBER_PARTY MP
		JOIN PARTY P ON(MP.P_NO = P.P_NO)
		JOIN OTT_INFO O ON(P.OTT_NO = O.OTT_NO)
		WHERE MP.M_NO = #{m_no}
	</select>
	
	<select id="selectParty" resultMap="partyResultMap">
		SELECT P.P_NO,
		       P.OTT_NO,
		       P.P_SHARE_ID,
		       P.P_SHARE_PWD,
		       P.P_MAX_MEMBER,
		       P.P_CUR_MEMBER,
		       P.P_START_DATE,
		       P.P_PERIOD,
		       P.P_END_DATE,
		       P.P_COMMENT,
		       P.P_ENTRY_PRICE,
		       P.P_STATUS,
		       P.P_ACCOUNTS,
		       P.M_NO,
		       TO_CHAR(P.P_ENTRY_PRICE,'999,999') AS P_ENTRY_PRICE_OUTPUT,
		       TRUNC(MONTHS_BETWEEN(P.P_END_DATE,SYSDATE)) AS ACCOUNTS_COUNT,       
		       TO_CHAR(((P.P_ENTRY_PRICE * 0.1) * MONTHS_BETWEEN(P.P_END_DATE,SYSDATE)) ,'999,999') AS P_DEPOSIT,
		       O.OTT_NAME,
		       O.OTT_THUMB,
		       O.PLAN_NAME,
		       O.PLAN_PRICE
		FROM PARTY P
		JOIN OTT_INFO O ON(P.OTT_NO = O.OTT_NO)
		WHERE P.P_NO=#{no}
	</select>
	
	<insert id="insertPartyMemeber" parameterType="Party">
		INSERT INTO MEMBER_PARTY(
			P_NO,
			M_NO,
			STATUS
		)
		VALUES(
			#{p_no},
			#{m_no},
			#{m_status}
		)
	</insert>
	
	<select id="getPartyNo" resultType="_int">
		SELECT MAX(P_NO) FROM PARTY WHERE M_NO=#{m_no}
	</select>
	
	<select id="partyMemberCheck" resultType="_int">
		SELECT COUNT(*) FROM PARTY WHERE P_NO=#{p_no} AND P_MAX_MEMBER != P_CUR_MEMBER
	</select>
	
	<update id="updatePartyMember" parameterType="Party">
		UPDATE PARTY SET P_CUR_MEMBER=#{p_cur_member} WHERE P_NO=#{p_no}
	</update>
	
	<update id="removePartyMember" parameterType="Party">
		UPDATE PARTY SET P_CUR_MEMBER=P_CUR_MEMBER - 1 WHERE P_NO=#{p_no}
	</update>
	
	<update id="updateMemberPoint" parameterType="Party">
		UPDATE MEMBER SET M_POINT=M_POINT+#{point} WHERE M_NO=#{m_no}
	</update>
	
	<insert id="insertPoint" parameterType="Point">
		INSERT INTO POINT(
			PO_NO,
			PO_POINT,
			M_NO
		)
		VALUES(
			SEQ_POINT_NO.NEXTVAL,
			#{po_point},
			#{m_no}
		) 
	</insert>
	
	<select id="getPointList" resultMap="pointResultMap">
		SELECT ROWNUM,
			   PO_NO,
			   PO_DATE,
			   PO_STATUS,
			   PO_POINT,
			   M_NO
		FROM (
			SELECT *
			FROM POINT
			ORDER BY PO_NO
		)
		WHERE M_NO=#{m_no}
	</select>
	
	<select id="getPointCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM POINT WHERE M_NO=#{m_no}
	</select>
	
	<select id="getPartyListByNo" resultMap="myPartyResultMap">
		SELECT MP.P_NO,
			   MP.M_NO,
			   MP.STATUS,
			   O.OTT_THUMB,
			   O.PLAN_NAME 
		FROM MEMBER_PARTY MP
		JOIN PARTY P ON(MP.P_NO = P.P_NO)
		JOIN OTT_INFO O ON(P.OTT_NO = O.OTT_NO)
		WHERE MP.M_NO=#{m_no}
		ORDER BY MP.STATUS DESC
	</select>
	
	<select id="partyMemberList" resultMap="myPartyResultMap">
		SELECT M.M_ID,
			   MP.M_NO,
			   MP.START_DATE		
		FROM MEMBER_PARTY MP
		JOIN MEMBER M ON(MP.M_NO = M.M_NO)
		WHERE MP.P_NO=#{no}
	</select>
	
	<update id="updateParty" parameterType="Party">
		UPDATE PARTY
		SET
		P_SHARE_ID=#{p_share_id},
		P_SHARE_PWD=#{p_share_pwd}
		WHERE P_NO=#{p_no}
	</update>
	
	<insert id="insertPay" parameterType="Pay">
		INSERT INTO PAY(
			PAY_NO,
 			M_NO,
 		    PAY_DATE,
 		    AMOUNT,
 		    MERCHANT_UID,
 		    P_NO,
 		    STATUS
		)VALUES(
			SEQ_PAY_NO.NEXTVAL,
			#{m_no},
			#{date},
			#{amount},
			#{merchant_uid},
			#{p_no},
			#{status}
		) 
	</insert>
	
	<insert id="firstSubpay" parameterType="Pay">
		INSERT INTO PAY(
			PAY_NO,
 			M_NO,
 		    AMOUNT,
 		    STATUS,
 		    MERCHANT_UID,
 		    P_NO
		)VALUES(
			SEQ_PAY_NO.NEXTVAL,
			#{m_no},
			#{amount},
			#{status},
			#{merchant_uid},
			#{p_no}
		)
	</insert>
	
	<select id="getPayCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM PAY WHERE M_NO=#{m_no}
	</select>
	
	<select id="getPayListByNo" resultMap="payResultMap">
		SELECT ROWNUM,
			   PAY_NO,
			   PAY_DATE,
			   TO_CHAR(AMOUNT,'999,999') AS AMOUNT_OUTPUT,
			   M_NO,
			   STATUS
		FROM (
			SELECT *
			FROM PAY
			ORDER BY PAY_DATE
		)
		WHERE M_NO=#{m_no}
	</select>
	
	<delete id="deleteMemberParty" parameterType="Party">
		DELETE FROM MEMBER_PARTY WHERE (P_NO=#{p_no} AND M_NO=#{m_no})
	</delete>
	
	<delete id="deletePartyMember" parameterType="Pay">
		DELETE FROM MEMBER_PARTY WHERE (P_NO=#{p_no} AND M_NO=#{m_no})
	</delete>
	
	<select id="memberPayList" parameterType="Party" resultMap="payResultMap">
		SELECT MERCHANT_UID FROM PAY WHERE (P_NO=#{p_no} AND M_NO=#{m_no} AND STATUS='결제 예약')
	</select>
	
	<delete id="deletePay" parameterType="Party">
		DELETE FROM PAY WHERE (P_NO=#{p_no} AND M_NO=#{m_no} AND STATUS='결제 예약')
	</delete>
	
	<select id="selectMemberParty" parameterType="_int" resultMap="payResultMap">
		SELECT P_NO,
			   M_NO,
			   STATUS
		FROM MEMBER_PARTY
		WHERE P_NO=#{p_no}
	</select>
	
	<select id="getMemberId" resultType="string">
		SELECT M_ID FROM MEMBER WHERE M_NO=#{m_no}
	</select>
	
	<delete id="deleteParty" parameterType="Pay">
		DELETE FROM PARTY WHERE P_NO=#{p_no}
	</delete>
</mapper>