<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.ogg.party.model.mapper.PartyMapper">

	<resultMap type="Party" id="partyListResultMap">
		<id property="p_no" column="P_NO"/>
		<result property="ott_class" column="OTT_CLASS"/>
		<result property="ott_no" column="OTT_NO"/>
		<result property="p_share_id" column="P_SHARE_ID"/>
		<result property="p_share_pwd" column="P_SHARE_PWD"/>
		<result property="p_max_member" column="P_MAX_MEMBER"/>
		<result property="p_cur_member" column="P_CUR_MEMBER"/>
		<result property="p_start_date" column="P_START_DATE"/>
		<result property="p_period" column="P_PERIOD"/>
		<result property="p_end_date" column="P_END_DATE"/>
		<result property="p_comment" column="P_COMMENT"/>
		<result property="p_entry_price" column="P_ENTRY_PRICE"/>
		<result property="p_status" column="P_STATUS"/>
		<result property="p_caution1" column="P_CAUTION1"/>
		<result property="p_caution2" column="P_CAUTION2"/>
		<result property="p_caution3" column="P_CAUTION3"/>
	</resultMap>
	
	<resultMap type="Ott" id="ottListResultMap">
		<id property="ott_no" column="OTT_NO"/>
		<result property="ott_name" column="OTT_NAME"/>
		<result property="ott_thumb" column="OTT_THUMB"/>
		<result property="ott_class" column="OTT_CLASS"/>
		<result property="ott_max_member" column="OTT_MAX_MEMBER"/>
		<result property="plan_price" column="PLAN_PRICE"/>
		<result property="plan_price_output" column="PLAN_PRICE_OUTPUT"/>
		<result property="ott_status" column="OTT_STATUS"/>
		<result property="plan_name" column="PLAN_NAME"/>
	</resultMap>
	
	<select id="selectOttList" resultMap="ottListResultMap">
		SELECT OTT_NO,
		       OTT_NAME,
		       OTT_THUMB,
		       OTT_CLASS,
		       OTT_MAX_MEMBER,
		       PLAN_PRICE,
		       TO_CHAR(PLAN_PRICE,'999,999') AS PLAN_PRICE_OUTPUT,
		       PLAN_NAME,
		       OTT_STATUS
		FROM (
		SELECT ROW_NUMBER() 
		OVER(PARTITION BY OTT_NAME ORDER BY PLAN_PRICE DESC ) AS RNUM, OTT_INFO.*
		FROM OTT_INFO)
		WHERE RNUM=1
		ORDER BY OTT_NO
	</select>
	
	<select id="selectPlanList" resultMap="ottListResultMap">
		SELECT OTT_NO,
			   OTT_NAME,
			   OTT_THUMB,
			   OTT_CLASS,
			   OTT_MAX_MEMBER,
			   PLAN_PRICE,
			   TO_CHAR(PLAN_PRICE,'999,999') AS PLAN_PRICE_OUTPUT,
			   PLAN_NAME,
			   OTT_STATUS
		FROM OTT_INFO
        WHERE OTT_NAME = #{ottName}
	</select>
	
	<select id="selectPlan" resultMap="ottListResultMap">
		SELECT PLAN_NAME,
			   OTT_NO
		FROM OTT_INFO
		WHERE OTT_NO=#{ottNo}
	</select>

	<select id="selectOttInfo" resultMap="ottListResultMap">
		SELECT PLAN_NAME,
			   OTT_NO,
			   OTT_THUMB
		FROM OTT_INFO
		WHERE OTT_NO=#{modal_ott_no}
	</select>
	
	<select id="insertParty" parameterType="Party">
		INSERT INTO PARTY(
			P_NO,
			OTT_NO,
			P_SHARE_ID,
			P_SHARE_PWD,
			P_MAX_MEMBER,
			P_START_DATE,
			P_END_DATE
		)
		VALUES(
			SEQ_PARTY_NO.NEXTVAL,
			#{ott_no},
			#{p_share_id},
			#{p_share_pwd},
			#{p_max_member},
			#{p_start_date},
			#{p_end_date}
		)
	</select>
	
	
	
	
</mapper>