    /* 01. 매안 */
    /* 작품 카드 이미지*/
    #img_film{
        background-color: black; 
        border-top-left-radius: 15px; 
        border-top-right-radius: 15px; 
        width: 100%;
        height: 254px;
    } 
    #card_film{
        width: 14rem; 
        border-radius: 15px;
    } 
    #card_film3{
        width: 14rem; 
        border-radius: 15px;
        margin-bottom: 15px;
    } 
    /* 02. 디테일 */
    /* 작품 카드 이미지*/
    #img_film2{
        background-color: black; 
        border-top-left-radius: 15px; 
        border-top-right-radius: 15px; 
        width: 100%;
        height: 254px;
    } 
    #card_film2{
        /* border: 2px solid rgb(21, 182, 182); */
        width: 13rem; 
        border-radius: 15px;
        margin: auto;
    } 

    /* 대표 포스터 */
    #img_film3{
        background-color: black; 
        border-radius: 15px; 
        /* border-top-right-radius: 15px;  */
        width: 12rem;
        height: 254px;
    } 

    /* 전체 div 스타일 */
    #div_review{
        border-radius: 15px;
        border: 1px solid lightgray;
        /* border: 1px solid #cfc9f6; */
        height: 100%; 
        padding: 20px;
    }
    
    #filmDetail2{
        border-radius: 15px;
        border: 1px solid lightgray;
        /* border: 1px solid #cfc9f6; */
        height: 100%; 
        padding: 20px;
    }
    
    #div_review2{
        border-radius: 15px;
        border: 1px solid lightgray;
        height: 100%; 
        padding: 20px;
        margin-bottom: 30px;
    }

    /* 전체 텍스트 스타일 */
    #detail-text1{
        margin-left: 10px;
        font-weight: 600;
        font-size: 1em;
    }
    #detail-text2{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 0.8em;
    }
    #detail-text3{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 0.9em;
    }
    #detail-text4{
        font-size: 0.9em;
    }
    #detail-text5{
        font-size: 0.9em;
    }
    #detail-text{
        margin-top: 3px;
        font-size: 0.9em;
    }
    #more-text1{
        margin-left: 10px;
        font-weight: 400;
        font-size: 1em;
    }
    a {
        text-decoration: none;
    }

    /* 이 감독의 다른 작품 카드 텍스트 */
    #card-text1{
        font-weight: 600;
        font-size: 1em;
    }
    #card-text2{
        margin-top: 3px;
        font-size: 0.8em;
    }
    #card-text3{
        margin-top: 10px;
        font-size: 0.7em;
        color: grey;
    }

    /* 코멘트 리뷰 카드 */
    #card_review{
        border-radius: 15px;
        width: 16em;
        margin: auto;
    }

    #card_review_row{
        /* border: 2px solid blue;  */
        padding-left: 30px; 
        padding-right: 30px;
    }

    .row_name{
        font-weight: 600;
        font-size: 1.5em;
    }
    .reviewbox01{
        font-size: 0.8em;
    }
    .reviewbox02{
        font-size: 0.85em;
    }

    /* 04. 보드 디테일 패이지*/
    #board-text1{
        margin-left: 10px;
        font-weight: 600;
        font-size: 1.2em;
    }
    #board-text2{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 0.9em;
    }
    #board-text3{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 1em;
    }
    #board-text4{
        width: 8%;
        margin-left: 10px;
        font-size: 0.9em;
    }
    #board-text5{
        font-size: 0.9em;
    }
    #board-text6{
        width: 5%;
        font-size: 0.9em;
    }
    #board-text7{
        width: 11%;
        font-size: 0.9em;
    }

    /* 댓글 */
    .row_name{
        font-weight: 600;
        font-size: 1.5em;
    }
    
    .reviewbox01{
        font-size: 0.8em;

    }
    .reviewbox02{
        font-size: 0.85em;
    }

    a:link{
        color: black;
    }
    /* ver1 */
    /* .btn-primary{
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 1em;
        border: none;
        background-color: #7e69fe; 
        color: white; 
        height: 30px; 
    }
    
    .btn:hover{
        font-size: 1em;
        border: 1px solid #7e69fe;
        background-color: white; 
        color: #7e69fe; 
        height: 30px; 
        text-align: center;
    } */

    /* ver2 */
    .btn-primary{
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 1em;
        border: 1px solid #7e69fe;
        background-color: white; 
        color: #7e69fe; 
        height: 30px; 
    }
    
    .btn:hover{
        font-size: 1em;
        border: 1px solid #7e69fe;
        background-color: #7e69fe; 
        color: white;
        height: 30px; 
        text-align: center;
    }

    /* 별점 */
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
        font-size: 2em;
        line-height: 0.9em;
        justify-content: space-around;
        letter-spacing: 3px;
        width: 5em;
    }

    .star-rating input {
        display: none;
    }

    .star-rating label {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2.3px;
        -webkit-text-stroke-color: #7e69fe;
        cursor: pointer;
    }

    .star-rating :checked ~ label {
        -webkit-text-fill-color: gold;
        -webkit-text-stroke-color: gold;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
        -webkit-text-fill-color: gold;
        -webkit-text-stroke-color: gold;
    }

    /* 카로셀 */
    .carousel-control-prev {
        margin-left: -40px;
        margin-top: 120px;
        
    }
    
    .carousel-control-next {
        margin-right: -40px;
        margin-top: 120px;
    }

    .carousel-control-prev,
    .carousel-control-next{
        height: 100px;
        width: 50px;
        /* outline: green; */
        background-size: 100%, 100%;
        border-radius: 50%;
        /* border: 1px solid blue; */
        /* background-color: red; */
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    #carousel01 {
        /* border: 2px solid blue;  */
        padding-left: 50px; 
        padding-right: 60px;
    }
