<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.ogg.member.model.mapper.MemberMapper">

	<resultMap type="com.project.ogg.member.model.vo.Member" id="memberResultMap">
		<id property="m_no" column="M_NO" />
		<result property="m_id" column="M_ID"/>
		<result property="m_pwd" column="M_PWD" />
		<result property="m_name" column="M_NAME" />
		<result property="m_nickname" column="M_NICKNAME" />
		<result property="m_phonenumber" column="M_PHONENUMBER" />
		<result property="m_email" column="M_EMAIL" />
		<result property="m_joindate" column="M_JOINDATE" />
		<result property="m_emailagreement" column="M_EMAILAGREEMENT" />
		<result property="m_recommend" column="M_RECOMMEND" />
		<result property="m_agreement" column="M_JOINAGREEMENT" />
		<result property="m_status" column="M_STATUS" />
		<result property="m_authority" column="M_AUTHORITY" />
		<result property="m_enabled" column="M_ENABLED" />
		<result property="m_account" column="M_ACCOUNT" />
		<result property="m_card_name" column="M_CARD_NAME" />
		<result property="m_card_num" column="M_CARD_NUM" />
		<result property="m_point" column="M_POINT" />
	</resultMap>
		
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER (
			M_NO,
			M_ID,
			M_PWD,
			M_NAME,
			M_NICKNAME,
			M_PHONENUMBER,
			M_EMAIL,
			M_EMAILAGREEMENT,
			M_RECOMMEND
		) VALUES (
			M_NO.NEXTVAL,
			#{m_id},
			#{m_pwd},
			#{m_name},
			#{m_nickname},
			#{m_phonenumber},
			#{m_email},
			#{m_emailagreement},
			#{m_recommend}
		)
	</insert>
	
	<!-- 아이디 유효성 검사 -->
	<select id="idcheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE M_ID=#{m_id}
	</select>
	
	<!-- 시큐리티 -->
	<select id="read" resultMap="memberResultMap">
		SELECT *
		FROM MEMBER
		WHERE M_ID=#{m_id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="memberResultMap">
		SELECT * FROM MEMBER WHERE M_EMAIL=#{m_email}
	</select>
	
	<select id="findIdCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE M_EMAIL=#{m_email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwd" parameterType="String" resultType="Member">
		SELECT * FROM MEMBER WHERE M_EMAIL=#{m_email}
	</select>
	
	<update id="pwdUpdate" parameterType="Member">
		UPDATE MEMBER SET M_PWD=#{m_pwd} WHERE M_EMAIL=#{m_email}
	</update>
	
	<!-- 카카오 -->
	<select id="loginLookup" parameterType="Member" resultType="int">
		SELECT COUNT(M_ID)
		FROM MEMBER
		WHERE M_ID = #{m_id}
	</select>
	
	<select id="kakaoMemberConfirm" parameterType="Member" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{m_id}
	</select>
	
	<insert id="insertKakaoMember" parameterType="Member">
		INSERT INTO MEMBER (
			M_NO,
			M_ID,
			M_NAME,
			M_NICKNAME,
			M_PHONENUMBER,
			M_EMAIL,
			M_EMAILAGREEMENT,
			M_RECOMMEND
		) VALUES (
			M_NO.NEXTVAL,
			#{m_id},
			#{m_name},
			#{m_nickname},
			#{m_phonenumber},
			#{m_email},
			#{m_emailagreement},
			#{m_recommend}
		)
	</insert>

</mapper>